body { line-height: 125%; }
table.diff {border:medium;}
.diff_header {background-color:#e0e0e0}
/*td.diff_header {align:right;}*/
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#aaffaa}
.diff_chg {background-color:#ffff77}
.diff_sub {background-color:#ffaaaa}