<!DOCTYPE html>
<html>
<head>
    <title>Keyboard Shortcuts</title>
</head>
<body>
<h3>Application Shortcuts</h3>
<pre>
 - Ctrl-N or Ctrl-F - Access the search & new note bar
 - Ctrl-E - Access the note editor
 - Ctrl-P - Show the note preview tab
 - Ctrl-D - Show the diff tab
 - Ctrl-&lt; - Move up one note
 - Ctrl-&gt; - Move down one note
 - Ctrl-L - Access the notes list
 - Ctrl-Shift-L - Hide/show the notes list
 - Ctrl-T - Access the tag editor
 - Ctrl-S - Save the current note
 - Ctrl-R - Save and record the current note to the history
 - Ctrl-M - Bring up the note merge dialog
 - Ctrl-Shift-U - Add the current date and time at the cursor position (or in the search bar if not in the editor)
 - ESC - Clear the search & new note bar
</pre>

<h3>Editor Shortcuts</h3>
<pre>
 - Ctrl-B - Make the text under the cursor bold
 - Ctrl-I - Make the text under the cursor italic
 - Ctrl-K - Insert hyperlink
 - Ctrl-Shift-K - Insert file
</pre>
</body>
</html>