<!DOCTYPE html>
<html>
<head>
    <title>Keyboard Shortcuts</title>
</head>
<body>
<h3>Application Shortcuts</h3>
<pre>
 - Ctrl/Cmd-N or Ctrl/Cmd-F - Access the search & new note bar
 - Ctrl/Cmd-E - Show the note editor
 - Ctrl/Cmd-W - Show the note preview
 - Ctrl/Cmd-D - Show the note history diff
 - Ctrl/Cmd-] - Move up one note
 - Ctrl/Cmd-[ - Move down one note
 - Ctrl/Cmd-L - Access the notes list
 - Ctrl/Cmd-Shift-L - Hide/show the notes list
 - Ctrl/Cmd-Shift-O - Hide/show the search bar
 - Ctrl/Cmd-Shift-H - Hide/show the history slider
 - Ctrl/Cmd-Shift-F - Hide/show everything but the editor (full-ish screen mode)
 - Ctrl/Cmd-T - Access the tag editor
 - Ctrl/Cmd-S - Save the current note
 - Ctrl/Cmd-R - Save and record the current note to the history
 - Ctrl/Cmd-Shift-P - Pin/unpin current note
 - Ctrl/Cmd-&lt; - Move back in the note history
 - Ctrl/Cmd-&gt; - Move forward in the note history
 - Ctrl/Cmd-Shift-U - Add the current date and time at the cursor position (or in the search bar if not in the editor)
 - ESC - Clear the search bar
</pre>

<h3>Editor Shortcuts</h3>
<pre>
 - Ctrl/Cmd-B - Make the text under the cursor bold
 - Ctrl/Cmd-I - Make the text under the cursor italic
 - Ctrl/Cmd-1 to 6 - Insert a header (sizes 1 through 6)
 - Ctrl/Cmd-K - Insert hyperlink (auto-populated from clipboard)
 - Ctrl/Cmd-Shift-K - Insert file (opens file selection dialog)
</pre>
</body>
</html>