<!DOCTYPE html>
<html>
<head>
    <title>Markdown Help</title>
</head>
<body>
<h2>Headers</h2>
<pre>
This is an H1
=============

This is an H2
-------------

# This is an H1

## This is an H2

###### This is an H6
</pre>

<h2>Paragraphs</h2>
<p>
A paragraph is simply one or more consecutive lines of text, separated by one or more blank lines.
</p>

<h2>Emphasis</h2>
<h4>Italics</h4>
<pre>
*single asterisks*

_single underscores_
</pre>
<h4>Bold</h4>
<pre>
**double asterisks**

__double underscores__
</pre>

<h2>Links</h2>
<pre>
This is an [example](http://example.net/) of an inline link.
</pre>

<h2>Lists</h2>
<h4>Bullet</h4>
<pre>
*   Red
*   Green
*   Blue
</pre>
<h4>Numbered</h4>
<pre>
1.  Red
2.  Green
3.  Blue
</pre>

<h2>Images</h2>
<pre>
![Alt text](/path/to/img.jpg)

![Alt text](/path/to/img.jpg "Optional title")
</pre>
</body>
</html>